.user-picture {
  margin-top: -50px;
  margin-left: 10px;
  border: 5px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

